# MOVIE RECOMMENDER SYSTEM -FINAL PROJECT

**Overview**

Congratulations!!!! for making it so far. This is the Certification Project for Data Science and Machine Learning Internship Program and here we will use all the concepts learned so far in this course.

**Context**


Over the past two decades, there has been a monumental shift in how people access and consume video content. With the universal access to broadband internet, numerous platforms like YouTube, Netflix, and HBO Go emerged and steadily grew to prominence.
Although not a household name in itself, OTT is the exact technology that made the streaming revolution possible.

OTT stands for “Over The Top” which refers to any video streaming service delivering content to the users over the internet, however, there are subscription charges associated with the usage of such platforms such as PrimeVideo, Netflix, HotStart, Zee5, SonyLiv, etc.
But choosing your next movie to watch can still be a daunting task, even if you have access to all the platforms.

**Business Requirement:**
    
    
“MyNextMovie” is a budding startup in the space of recommendations on top of various OTT platforms providing suggestions to its customer base regarding their next movie.


Their major business is to create a recommendation layer on top of these OTT platforms so that they can make suitable recommendations to their customers, however, since they are in research mode right now, they would want to experiment with open-source data first to understand the depth of the models which can be delivered by them.


The data for this exercise is open-source data that has been collected and made available from the MovieLens website (http://movielens.org), a part of GroupLens


Research The data sets were collected over various periods of time, depending on the size of the set.


You have recently joined as a Data Scientist at “MyNextMovie” and plan to help the existing team to set up a recommendation platform.

**Objective:**
1. Create a popularity-based recommender system at a genre level. The user will input a genre (g), minimum rating threshold (t) for a movie, and no. of
recommendations(N) for which it should be recommended top N movies which are most popular within that genre (g) ordered by ratings in descending order where each movie has at least (t) reviews.
Example:
    
    
Input:
    

• Genre (g) : Comedy
    
    
• Minimum reviews threshold (t) : 100
    
    
• Num recommendations (N) : 5

**2. Create a content-based recommender system that recommends top N movies based on similar movie(m) genres.**
Example:
    
    
Input:
    
    
• Movie Title (t): Toy Story
    
    
• Num recommendations (N): 5

**3. Create a collaborative based recommender system which recommends top N movies based on “K” similar users for a target user “u”**
Example:
    
    
Input:
    
    
• UserID: 1
    
    
• Num recommendations(N): 5
    
    
• Threshold for similar users (k: 100

**Data Description**

The data consists of 105339 ratings applied over 10329 movies. The average rating and minimum and maximum rating are 0.5 and 5 respectively. There are 668 users who have given their ratings for 149532 movies. There are two data files which are provided:

**Movies.csv**

● movieId: ID assigned to a movie

● title: Title of a movie

● genres: pipe-separated list of movie genres. 
    
**Ratings.csv**

● userId: ID assigned to a user

● movieId: ID assigned to a movie

● rating: rating by a user to a movie

● Timestamp: time at which the rating was provided.

**Steps and Tasks**


**● Import libraries and load dataset**


**● Exploratory Data Analysis including:**
    
    
o Understanding of distribution of the features available


o Finding unique users and movies


o Average rating and Total movies at genre level.


o Unique genres considered..


**● Design the 3 different types of recommendation modules as mentioned in the objectives.**


**● Additional/Optional: Create a GUI interface using Python libraries (ipywidgets etc.) to play around with the recommendation modules.**

# Steps and Tasks

**TASK 1:-**

**● Import libraries and load dataset**

In [1]:
#STEP 1:-Import libraries
import numpy as np
import pandas as pd
import ipywidgets as widgets
from IPython.display import display

In [2]:
#Step 2:-load dataset
Movies_df=pd.read_csv(r"movies.csv")
Movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
10324,146684,Cosmic Scrat-tastrophe (2015),Animation|Children|Comedy
10325,146878,Le Grand Restaurant (1966),Comedy
10326,148238,A Very Murray Christmas (2015),Comedy
10327,148626,The Big Short (2015),Drama
10328,149532,Marco Polo: One Hundred Eyes (2015),(no genres listed)

In [3]:
Rating_df=pd.read_csv(r"ratings.csv")
Rating_df

        userId  movieId  rating   timestamp
0            1       16     4.0  1217897793
1            1       24     1.5  1217895807
2            1       32     4.0  1217896246
3            1       47     4.0  1217896556
4            1       50     4.0  1217896523
...        ...      ...     ...         ...
105334     668   142488     4.0  1451535844
105335     668   142507     3.5  1451535889
105336     668   143385     4.0  1446388585
105337     668   144976     2.5  1448656898
105338     668   148626     4.5  1451148148

[105339 rows x 4 columns]

**TASK 2:-**

**● Exploratory Data Analysis including:**

o Understanding of distribution of the features available

Understanding of distribution of the features available for Movies dataset

In [4]:
Movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10329 entries, 0 to 10328
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  10329 non-null  int64
 1   title    10329 non-null  object
 2   genres   10329 non-null  object
dtypes: int64(1), object(2)
memory usage: 242.2+ KB

In [5]:
Movies_df.describe()

             movieId
count   10329.000000
mean    31924.282893
std     37734.741149
min         1.000000
25%      3240.000000
50%      7088.000000
75%     59900.000000
max    149532.000000

In [6]:
Movies_df.isnull()

       movieId  title  genres
0        False  False   False
1        False  False   False
2        False  False   False
3        False  False   False
4        False  False   False
...        ...    ...     ...
10324    False  False   False
10325    False  False   False
10326    False  False   False
10327    False  False   False
10328    False  False   False

[10329 rows x 3 columns]

In [7]:
Movies_df.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [8]:
Movies_df.shape

(10329, 3)

In [9]:
Movies_df.size

30987

**Understanding of distribution of the features available fot Rating dataset**

In [10]:
Rating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105339 entries, 0 to 105338
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     105339 non-null  int64
 1   movieId    105339 non-null  int64
 2   rating     105339 non-null  float64
 3   timestamp  105339 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.2 MB

In [11]:
Rating_df.describe()

              userId        movieId         rating     timestamp
count  105339.000000  105339.000000  105339.000000  1.053390e+05
mean      364.924539   13381.312477       3.516850  1.130424e+09
std       197.486905   26170.456869       1.044872  1.802660e+08
min         1.000000       1.000000       0.500000  8.285650e+08
25%       192.000000    1073.000000       3.000000  9.711008e+08
50%       383.000000    2497.000000       3.500000  1.115154e+09
75%       557.000000    5991.000000       4.000000  1.275496e+09
max       668.000000  149532.000000       5.000000  1.452405e+09

In [12]:
Rating_df.isnull()

        userId  movieId  rating  timestamp
0        False    False   False      False
1        False    False   False      False
2        False    False   False      False
3        False    False   False      False
4        False    False   False      False
...        ...      ...     ...        ...
105334   False    False   False      False
105335   False    False   False      False
105336   False    False   False      False
105337   False    False   False      False
105338   False    False   False      False

[105339 rows x 4 columns]

In [13]:
Rating_df.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [14]:
Rating_df.shape

(105339, 4)

In [15]:
Rating_df.size

421356

**o Finding unique users and movies**

In [16]:
Movies_df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
10324    False
10325    False
10326    False
10327    False
10328    False
Length: 10329, dtype: bool

In [17]:
Rating_df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
105334    False
105335    False
105336    False
105337    False
105338    False
Length: 105339, dtype: bool

In [18]:
unquie_user=Rating_df["userId"].nunique()
unquie_user

668

In [19]:
unquie_moives=Rating_df["movieId"].nunique()
unquie_moives

10325

**o Average rating and Total movies at genre level.**

In [20]:
# Calculate average rating and total movies per genre
avg_rating_per_genre_total_movies = (Movies_df.assign(genres=Movies_df['genres'].str.split('|'))
                        .explode('genres')
                        .merge(Rating_df.groupby('movieId')['rating'].agg(['mean', 'count']), 
                               left_on='movieId', right_index=True)
                        .groupby('genres')
                        .agg(avg_rating=('mean', 'mean'), total_movies=('count', 'sum'))
                        .reset_index())

print("Average rating and total movies at genre level:")
print()
avg_rating_per_genre_total_movies

Average rating and total movies at genre level:

                genres  avg_rating  total_movies
0   (no genres listed)    3.071429             7
1               Action    3.113743         31205
2            Adventure    3.201591         23076
3            Animation    3.405377          5966
4             Children    3.090025          8098
5               Comedy    3.094777         38055
6                Crime    3.236985         18291
7          Documentary    3.484583          1206
8                Drama    3.284382         46960
9              Fantasy    3.178616         10889
10           Film-Noir    3.411458          1210
11              Horror    2.830540          7983
12                IMAX    3.369887          3032
13             Musical    3.227645          4287
14             Mystery    3.206681          8320
15             Romance    3.231254         19094
16              Sci-Fi    3.096767         16795
17            Thriller    3.127309         29288
18                 War    3.392267          5828
19             Western    3.254288          2314

**o Unique genres considered..**

In [21]:
unique_genres_con = Movies_df['genres'].str.split('|').explode().unique()
unique_genres_con

array(['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Mystery', 'Sci-Fi', 'IMAX', 'War', 'Musical', 'Documentary',
       'Western', 'Film-Noir', '(no genres listed)'], dtype=object)

**TASK 3:-**

**● Design the 3 different types of recommendation modules as mentioned in the objectives.**

**Popularity based recommender**

In [22]:
#STEP 1:-Popularity based recommender
def popularity_based_recommender(genre, min_reviews, num_recommendations):
    genre_movies = Movies_df[Movies_df['genres'].str.contains(genre)]
    genre_ratings = genre_movies.merge(Rating_df, on='movieId', how='left')
    genre_ratings = genre_ratings.groupby('movieId').filter(
        lambda x: len(x) >= min_reviews)

    movie_stats = genre_ratings.groupby('movieId').agg(
        avg_rating=('rating', 'mean'), total_ratings=('rating', 'count')
    ).reset_index()
    
    movie_stats['popularity'] = movie_stats['avg_rating'] * movie_stats['total_ratings']
    movie_stats = movie_stats.sort_values(by='popularity', ascending=False)
    top_movies = movie_stats.head(num_recommendations)
    top_movies = top_movies.merge(Movies_df[['movieId', 'title']],
                                  on='movieId', how='left')
    return top_movies
# Step-2:- Creating a sample data for popularity_based_recommender function to generate the recommendation:
genre = 'Comedy'
min_reviews = 100
num_recommendations = 5

# Step-3:- Using the popularity_based_recommender function to generate the recommendation:
popularity_based_recommender_system = popularity_based_recommender(genre, min_reviews, num_recommendations)
popularity_based_recommender_system

   movieId  avg_rating  total_ratings  popularity                      title
0      296    4.160000            325      1352.0        Pulp Fiction (1994)
1      356    4.138264            311      1287.0        Forrest Gump (1994)
2        1    3.907328            232       906.5           Toy Story (1995)
3      608    4.271144            201       858.5               Fargo (1996)
4     1270    3.943662            213       840.0  Back to the Future (1985)

**Content based recommender**

In [23]:
#STEP 1:-Content based recommender
def content_based_recommender(movie_title, num_recommendations):
    input_movie = Movies_df[Movies_df['title'] == movie_title]
    input_genres = input_movie['genres'].values[0].split('|')
    similar_movies = []
    for index, row in Movies_df.iterrows():
        movie_genres = row['genres'].split('|')
        similarity_score = len(set(input_genres) & set(movie_genres)) / float(len(input_genres))
        similar_movies.append((row['title'], similarity_score))
        
    similar_movies.sort(key=lambda x: x[1], reverse=True)
    recommendations = [movie[0] for movie in similar_movies[1:num_recommendations+1]]
    recommendations_df = pd.DataFrame(recommendations, columns=['Recommended Movie'])
    
    return recommendations_df

# Step-2:- Creating a sample data for content_based_recommender function to generate the recommendation:
movie_title = 'Toy Story (1995)'
num_recommendations = 5

# Step-3:- Using the content_based_recommender function to generate the recommendation:
content_based_recommender_system = content_based_recommender(movie_title, num_recommendations)
content_based_recommender_system

                                Recommended Movie
0                                Space Jam (1996)
1                                     Antz (1998)
2                 Who Framed Roger Rabbit? (1988)
3                              Toy Story 2 (1999)
4  Adventures of Rocky and Bullwinkle, The (2000)

**collaborative based recommender**

In [24]:
def cosine_similarity(vec1, vec2):
    dot_product = sum(i * j for i, j in zip(vec1, vec2))
    magnitude1 = sum(i * 2 for i in vec1) * 0.5
    magnitude2 = sum(j * 2 for j in vec2) * 0.5
    if magnitude1 == 0 or magnitude2 == 0:
        return 0
    return dot_product / (magnitude1 * magnitude2)

def collaborative_recommender(user_id, num_recommendations, Threshold_of_similar_users,
                              Rating_df, Movies_df):
    
    target_user_ratings = Rating_df[Rating_df['userId'] == user_id]
    similar_users = Rating_df[Rating_df['movieId'].isin(target_user_ratings['movieId'])]
    
    similarities = {}
    for similar_user_id, similar_user_ratings in similar_users.groupby('userId'):
        similarity = cosine_similarity(target_user_ratings[
            'rating'].values, similar_user_ratings['rating'].values)
        similarities[similar_user_id] = similarity
    
    similar_users = sorted(similarities, key=similarities.get,
                           reverse=True)[:Threshold_of_similar_users]
    
    unrated_movies = Movies_df[~Movies_df['movieId'].isin(
        target_user_ratings['movieId'])]
    

    recommendations = {}
    for _, movie_row in unrated_movies.iterrows():
        weighted_sum = 0
        similarity_sum = 0
        for similar_user_id in similar_users:
            similar_user_rating = Rating_df[(
                Rating_df['userId'] == similar_user_id) & (
                Rating_df['movieId'] == movie_row['movieId'])]['rating']
            
            if not similar_user_rating.empty:
                similarity = similarities[similar_user_id]
                weighted_sum += similarity * similar_user_rating.iloc[0]
                similarity_sum += similarity
        if similarity_sum > 0:
            recommendations[movie_row['movieId']] = weighted_sum / similarity_sum
    
    top_recommendations_df = pd.DataFrame(
        recommendations.items(), columns=['movieId', 'predicted_rating'])
    
    top_recommendations_df = top_recommendations_df.merge(
        Movies_df[['movieId', 'title']], on='movieId', how='left')
    
    top_recommendations_df = top_recommendations_df.sort_values(
        by='predicted_rating', ascending=False).head(num_recommendations)
    
    return top_recommendations_df

# Step-2:- Creating a sample data for collaborative_based_recommender function to generate the recommendation:
user_id = 1
num_recommendations = 5
Threshold_of_similar_users = 100

# Step-3:- Using the collaborative_based_recommender function to generate the recommendation:
collaborative_based_recommender_system = collaborative_recommender(
    user_id, num_recommendations, Threshold_of_similar_users,
    Rating_df, Movies_df)

print("Top", num_recommendations, "recommendations for User", user_id, ":")
collaborative_based_recommender_system

Top 5 recommendations for User 1 :

      movieId  predicted_rating                            title
7383    90603               5.0          Batman: Year One (2011)
707      1085               5.0  Old Man and the Sea, The (1958)
4072     6902               5.0             Interstate 60 (2002)
7449    92259               5.0              Intouchables (2011)
7466    93040               5.0            Civil War, The (1990)

**TASK 4:-**

**● Additional/Optional: Create a GUI interface using Python libraries (ipywidgets etc.) to play around with the recommendation modules.**

In [25]:
def print_popularity_based_recommender_system():
    
    # Create a Combobox widget for genres
    Genres = widgets.Combobox(description='Genres:', options=[
        'Action','Adventure','Animation','Children','Comedy','Crime',
        'Documentary','Drama','Fantasy','Film-Noir','Horror','IMAX',
        'Musical','Mystery','Romance','Sci-Fi','Thriller','War','Western'])

    # Create a ToggleButtons widget for selecting the number of recommendations
    num_recommendations = widgets.ToggleButtons(
        description='Num Recommendations:', options=[1, 2, 3, 4, 5,
                                                     6, 7, 8, 9, 10], value=5)

    # Create an IntSlider widget for selecting the minimum reviews threshold
    min_reviews_threshold = widgets.Dropdown(
        description='Min Reviews Threshold:',options=[
            1, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100], value=100)

    # Define a callback function to handle changes in the Combobox value
    def on_combobox_change(change):
        print("Selected genre:", change['new'])

    # Define a callback function to handle changes in the ToggleButtons value
    def on_toggle_buttons_change(change):
        print("Selected num of Recommendations:", change['new'])

    # Define a callback function to handle changes in the IntSlider value    
    def on_int_slider_change(change):
        print("Selected min Reviews:", change['new'])    

    # Register the callback functions to observe changes in the Combobox and ToggleButtons values
    Genres.observe(on_combobox_change, names='value')
    num_recommendations.observe(on_toggle_buttons_change, names='value')
    min_reviews_threshold.observe(on_int_slider_change, names='value')

    # Create an Accordion widget and add the Combobox and ToggleButtons widgets as its children
    movies_accordion = widgets.Accordion(children=[Genres, num_recommendations, min_reviews_threshold])
    movies_accordion.set_title(0, 'Genres')
    movies_accordion.set_title(1, 'Num Recommendations')
    movies_accordion.set_title(2, 'Min Reviews Threshold')

    # Define function to call popularity_based_recommender
    def get_recommendations():
        genre = Genres.value
        num_recommendations_value = num_recommendations.value
        min_reviews_threshold_value = min_reviews_threshold.value

        popularity_based_recommender_system = popularity_based_recommender(genre, min_reviews_threshold_value, num_recommendations_value)
        display(popularity_based_recommender_system)

    # Display the Accordion widget
    display(movies_accordion)

    # Call get_recommendations when button is clicked
    button = widgets.Button(description="Get Recommendations")
    button.on_click(lambda button: get_recommendations())
    display(button)

In [26]:
# Step-1:- Creating the movies list and Converting to list for further task:
movies_list = Movies_df['title'].unique()
movies_list_name = movies_list.tolist()

# Step-2:- Creating a function as display_content_based_recommender_system:
def print_content_based_recommender_system():
    movie_title = widgets.Combobox(description='Movie Title:', options=movies_list_name)

    num_recommendations = widgets.ToggleButtons(
        description='Num Recommendations:', options=[
            1, 2, 3, 4, 5, 6, 7, 8, 9, 10], value=5)

    def on_combobox_change(change):
        print("Selected genre:", change['new'])

    def on_toggle_buttons_change(change):
        print("Selected num of Recommendations:", change['new'])

    movie_title.observe(on_combobox_change, names='value')
    num_recommendations.observe(on_toggle_buttons_change, names='value')

    movies_accordion = widgets.Accordion(children=[movie_title, num_recommendations])
    movies_accordion.set_title(0, 'Movie Title')
    movies_accordion.set_title(1, 'Num Recommendations')

    def get_recommendations():
        movie_title_number = movie_title.value
        num_recommendations_value = num_recommendations.value  
        content_based_recommender_system = content_based_recommender(
            movie_title_number, num_recommendations_value)
        display(content_based_recommender_system)

    display(movies_accordion)

    button = widgets.Button(description="Get Recommendations")
    button.on_click(lambda button: get_recommendations())
    display(button)

In [27]:
# Step-1:- Creating a function as display_collaborative_based_recommender_system:
def print_collaborative_based_recommender_system():
    User_Id = widgets.IntText(description='User_Id:')

    num_of_recommendations = widgets.ToggleButtons(
        description='Num Recommendations:', options=[
            1, 2, 3, 4, 5, 6, 7, 8, 9, 10], value=5)

    min_reviews_threshold = widgets.Dropdown(
        description='Min Reviews Threshold:',options=[
            1, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100], value=100)


    def on_int_text_change(change):
        if change['type'] == 'change' and change['name'] == 'value':
            print("Selected Integer Value is:", change['new'])

    def on_toggle_buttons_change(change):
        print("Selected num of Recommendations:", change['new'])

    def on_dropdown_change(change):
        print("Selected min Reviews:", change['new'])    


    User_Id.observe(on_int_text_change, names='value')
    num_of_recommendations.observe(on_toggle_buttons_change, names='value')
    min_reviews_threshold.observe(on_dropdown_change, names='value')


    movies_accordion = widgets.Accordion(children=[User_Id, num_of_recommendations,
                                            min_reviews_threshold])
    movies_accordion.set_title(0, 'User_Id')
    movies_accordion.set_title(1, 'Num Recommendations')
    movies_accordion.set_title(2, 'Min Reviews Threshold')

    def get_recommendations():
        user_id = User_Id.value
        num_recommendations = num_of_recommendations.value
        Threshold_of_similar_users = min_reviews_threshold.value

        collaborative_based_recommender_system =  collaborative_recommender(
            user_id, num_recommendations, Threshold_of_similar_users,
            Rating_df, Movies_df)
        display(collaborative_based_recommender_system)


    display(movies_accordion)


    button = widgets.Button(description="Get Recommendations")
    button.on_click(lambda button: get_recommendations())
    display(button)

**Now concatenating all the GUI interface function to build the MOVIE RECOMMENDER SYSTEM**

In [28]:
# Create a Combobox widget
recommender_system = widgets.Combobox(description='Recommender_system:', options=[
    'popularity_based_recommender_system',
    'content_based_recommender_system',
    'collaborative_based_recommender_system'])

# Define a callback function to handle changes in the Combobox value
def on_combobox_change(change):
    selected_value = change['new']
    if selected_value == 'popularity_based_recommender_system':
        print("Selected value:", selected_value)
        print_popularity_based_recommender_system()
    
    elif selected_value == 'content_based_recommender_system':
        print("Selected value:", selected_value)
        print_content_based_recommender_system()
        
    elif selected_value == 'collaborative_based_recommender_system':
        print("Selected value:", selected_value)
        print_collaborative_based_recommender_system()
        
    else:
        print("Selected value is not recognized.")

# Register the callback function to observe changes in the Combobox value
recommender_system.observe(on_combobox_change, names='value')

# Display the Combobox widget
display(recommender_system)

Combobox(value='', description='Recommender_system:', options=('popularity_based_recommender_system', 'content…

Selected value: popularity_based_recommender_system

Accordion(children=(Combobox(value='', description='Genres:', options=('Action', 'Adventure', 'Animation', 'Ch…

Button(description='Get Recommendations', style=ButtonStyle())

Selected genre: Mystery
Selected num of Recommendations: 4
Selected min Reviews: 10

,movieId,avg_rating,total_ratings,popularity,title
0,50,4.328947,228,987.0,"Usual Suspects, The (1995)"
1,32,3.939614,207,815.5,Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
2,47,4.130102,196,809.5,Seven (a.k.a. Se7en) (1995)
3,2762,4.130890,191,789.0,"Sixth Sense, The (1999)"

Selected value is not recognized.
Selected value: content_based_recommender_system

Accordion(children=(Combobox(value='', description='Movie Title:', options=('Toy Story (1995)', 'Jumanji (1995…

Button(description='Get Recommendations', style=ButtonStyle())

Selected genre: Grumpier Old Men (1995)
Selected num of Recommendations: 4

                Recommended Movie
0        Waiting to Exhale (1995)
1                  Sabrina (1995)
2  American President, The (1995)
3                 Clueless (1995)

Selected value is not recognized.
Selected value: collaborative_based_recommender_system

Accordion(children=(IntText(value=0, description='User_Id:'), ToggleButtons(description='Num Recommendations:'…

Button(description='Get Recommendations', style=ButtonStyle())

Selected Integer Value is: 5
Selected num of Recommendations: 4
Selected min Reviews: 10

# END OF FINAL PROJECT

**SUBMITTED BY:-SUBHASHREE SATAPATHY**